.row.row-old {
    display: block;
    .about-us__clinic {
        margin-bottom: 1em;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.wrapper-fluid {
    padding: 0 1em;
}

.about-us__doctor {
    background-color: $grey;
    padding: 1.5em 0;
    margin: 1em 0;
}

.doctor__name {
    font-size: 1.2em;
    line-height: 2em;
}

.doctor__title {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.6em;
}

.doctor__phones {
    display: none;
}


.doctor__text {
    font-style: italic;
    padding: 1em 0 0;
}

.doctor__text-block--PC {
    display: none;
}


@media (min-width: 460px) {
    .doctor__phones {
        padding: 0.5em 0;
        line-height: 1.8em;
        font-weight: 600;
        display: block;
        i {
            color: $blue;
            width: 1.3em;
        }
    }
}
@media (min-width: 740px) {
    .wrapper {
        padding: 0 5em;
    }
}
@media (min-width: 768px) {
    .about-us__doctor {
        padding: 1em 0;
        margin: 0;
    }
}

@media (min-width: 772px) and (orientation: landscape) {
    .wrapper-fluid {
        margin: 0 4em;
    }

    .wrapper {
        padding: 0 3em;
    }
}

@media (min-width: 675px) {
    .doctor__text-wrap {
        display: none;
    }
    .doctor__text-block--PC {
        display: block;
    }
}


@media (min-width: 992px) {
    .row.row-old.row-md {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }

    .doctor__text-block--PC {
        display: none;
    }

    .doctor__text-wrap {
        display: block;
        padding: 1em 0;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    .wrapper {
        padding: 0 4em;
    }
}

@media (min-width: 1300px) {
    .doctor__text {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 1650px) and (orientation: landscape) {
    .wrapper-fluid {
        margin: 0 10em;
    }
    .wrapper {
        padding: 0 8em;
    }
    .doctor__text-wrap {
        display: none;
    }
    .doctor__text-block--PC {
        display: block;
        padding: 1em 0;
    }
}
