
.benefits__wrap {
    width: 90%;
    margin: 0 auto;
}

.benefits__item {
    margin-bottom: 1em;
    background-color: $grey;
}

.benefits__header {
    padding: 1em 0 1em 1.5em;
}

.benefits__icon {
    width: 5em;
    height: 5em;
    margin-left:auto;
}

.benefits__icon-1 {
    background: url('../img/139302.svg');
}

.benefits__icon-2 {
    background: url('../img/194915.svg');
}

.benefits__icon-3 {
    background: url('../img/234688.svg');
}

.benefits__icon-4 {
    background: url('../img/485515.svg');
}

.benefits__title {
    text-transform: uppercase;
    width: 70%;
    text-align: center;
}

.benefits__text {
    padding: 0 1em 1em 1em;
    text-align: justify;
}

@media (min-width: 500px)  {

.benefits__title {
	text-align:left;
	width:60%;
}

.benefits__icon  {
	margin-right:1em;
}


}
@media (min-width: 768px) {
    .benefits__item {
        margin: 0;
    }
}
@media (min-width: 1350px) {
    .benefits__wrap {
        display: flex;
    }
    .benefits__content-1,.benefits__content-2 {
        max-width: 50%;
        padding-top: 1em;
    }

    .bene {
        background-color: $grey;
    }
    .benefits__wrap {
        width: 90%;
    }
}
