.mobile-nav__row {
    width: 100%;
    position: fixed;
    z-index: 200;
    background-color: rgba(255,255,255,0.6);
}
.mobile-nav__content {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    height: 6em;
}

.mobile-nav__menu-button {
    &.open {
        width: 100%;
    }
}

.mobile-nav__logo,.mobile-nav__contacts-button {
    &.hidden {
        display: none;
    }
}

.hamburger-button {
    transition: all 0.3s ease-in-out;
    padding: 0.5em 0.625em 0.5em 0;
    .hamburger-item {
        background: black;
        display: block;
        height: 0.1875em;
        margin: 0.625em 0;
        transition: all 0.3s ease-in-out;
        width: 2.5em;
    }

    &.open {
        .hamburger-item {
            margin: 0 0 0.3125em;

            &:first-child {
                transform: rotate(45deg);
                transform-origin: 0.625em;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: 0.5em;
            }
        }
    }
}

.mobile-nav__logo {
    height: 5em;
    width: auto;
}

.contacts-button {
    padding: 0.5256em 0 0.5256em 1.4815em;
}

.contacts-button.open {
    .contacts-item:first-child {
        -webkit-transform: translateY(0.79em) translateX(-0.79em);
           -moz-transform: translateY(0.79em) translateX(-0.79em);
            -ms-transform: translateY(0.79em) translateX(-0.79em);
             -o-transform: translateY(0.79em) translateX(-0.79em);
                transform: translateY(0.79em) translateX(-0.79em);
        transform-origin: 0 0 0;
    }

    .contacts-item:last-child {
        -webkit-transform: translateY(-0.79em) translateX(0.79em);
           -moz-transform: translateY(-0.79em) translateX(0.79em);
            -ms-transform: translateY(-0.79em) translateX(0.79em);
             -o-transform: translateY(-0.79em) translateX(0.79em);
                transform: translateY(-0.79em) translateX(0.79em);
        transform-origin: 0 0 0;
    }
}

.contacts-item {
    display: block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 0.5em;
    background-color: black;
    margin: 0.3em;
    transition: all 0.3s ease-in-out;
}



.mobile-nav__menu {
    position: fixed;
    background-color: white;
    top: 0;
    left: -100%;
    height: 100%;
    width: 80%;
    transition: all 0.5s ease-in-out;
    z-index: 2000;
    overflow-y: scroll;
}

.mobile-nav__menu {
    &.li {
        width: 90%;
        display: block;
        transition: all 0.5s ease-in-out;
    }
}


.mobile-menu__content {
    margin: 0;
    padding: 0;
}

.mobile-menu__link {
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 1.2em;
    display: block;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0.5em 0;
    border-bottom: 1px solid $grey;
}

.mobile-menu__link:hover {
    background: rgba($grey, 0.7);
}

.mobile-menu__button {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 1.4em;
    margin-bottom: 1.65em;
}
.mobile-nav__contacts {
    position: fixed;
    z-index: 2000;
    right: 0;
    width: 91%;
    top: 6em;
    height: auto;
    background-color: white;
    right: -100%;
    overflow-y: scroll;
}

.mobile-contacts__content {
    padding: 0.8em 0;
}

.mobile-contacts__adress,.mobile-contacts__hours,.mobile-contacts__phones {
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
    color: $text-color;
    font-size: 1.2em;
    line-height: 1.5em;
    border-bottom: 1px solid $grey;
    i {
        color: $blue;
    }
    a {
        color: $text-color;
    }
}
.mobile-contacts__phones {
    border: 0;
}

.mobile-phones__item {
    display: inline-block;
    padding: 0 0.5em;
}

.header__top-menu {
    display: none;
}
.tab-nav__row {
    display: none;
}

@media (min-width: 740px) {
    .mobile-nav__row {
        display: none;
    }

    .header__top-menu {
        display: flex;
        position: fixed;
        z-index: 1500;
        height: 3em;
        background-color: $grey;
        width: 100%;
    }


    .top-menu__content {
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
    .top-menu__item {
        padding: 0.4em 0.7em;
        font-size: 1.5em;
    }

    .top-menu__link {
        font-size: 1em;
        padding: 0.9em 0.7em;
    }


    .tab-nav__row {
        display: flex;
        position: fixed;
        z-index: 1500;
        height: 5.5em;
        background-color: rgba($white, 0.7);
        width: 100%;
        margin-top: 3em;
    }

    .tab-nav__content {
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        vertical-align: center;
    }

    .dropdown {
        position: relative;
    }
    .dropdown-content {
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top: 4.2em;
        left: 0;
        display: none;
        &.open {
            display: block;
        }
    }
    .dropdown-item {
        line-height: 2em;
        background-color: white;
        padding: 0.5em;
        padding-left: 1em;
        min-width: 10em;
        border-bottom: 1px solid $grey;
    }


    .dropbtn:after {
        content: '\25be';
        display: inline-block;
        margin: 0 0.5em;
    }
    .tab-nav__logo {
        width: auto;
        height: 5em;
    }

    .tab-nav__item {
        display: inline-block;
        padding: 0.7em;
        text-transform: uppercase;
    }
    .tab-nav__item--PC {
        display: none;
    }
}

@media (min-width: 900px) {
    .top-menu__content {
        padding: 0 2%;
    }
}
@media (min-width: 1200px) {
    .dropdown {
        display: none;
    }

    .tab-nav__item--PC {
        display: inline-block;
    }
    .btn-appointment:after {
        content: ' request';
    }
}
@media (min-width: 1800px) {
    .top-menu__content {
        padding: 0 6%;
    }
}
