.row {
	margin: 0;
}
.icon-link {
    font-size: 1.6em;
    padding: 0.5em 0.6em;
    display: inline-block;
}

.button {
    -webkit-appearance: none;
    border: 0;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-appointment {
    border-radius: 0.3em;
    background-color: $blue;
    color: $white;
    padding: 0.7em 1em;

}

.header__top-row {
    width: 100%;
    z-index: 150;
    position:fixed;

}

.top-row__content {
    -webkit-box-pack: justify;
    justify-content: space-around;
    align-items: center;
    height: 3.5em;
    z-index: 300;
    background-color: $grey;
}

.header__menu  {
background-color: rgba(255, 255, 255, 0.6);
}
.menu__content {
	top:3.5em;
	z-index:1500;
	align-items: center;
	
width:80%;
margin:0 auto;
}

.logo__header {
	height:5em;
	width:auto;
	z-index:200;

}
#sandwich {
  width: 55px;
  height: 44px;
  position: relative;
  top: 0.2em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:200;

}
.sw-topper {
  position: relative;
  top: 0;
  width: 55px;
  height: 6px;
  background: #868686;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width: 55px;
  height: 6px;
  top: 12px;
  background:#868686;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  width: 55px;
  height: 6px;
  top: 24px;
  background: #868686;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
#sandwich.active .sw-topper {
  top: 10px;
  transform: rotate(140deg);
}
#sandwich.active .sw-bottom {
  top: 3px;
  transform: rotate(-140deg);
}
#sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}
.toggle-menu {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: pink;
	opacity:0.8;
}

.toggle-menu {
	display:none;
}

.kl {
	position: absolute;
	bottom:-1.5em;
	width:100%;
	left:0;
	background-color: rgba(25, 158, 216,0.2);
	color:$text-color;
}

