
.mobile-menu {
    width: 80%;
    background-color: $white;
    z-index: 300;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    height:100vh;
}

.logo__mobile-menu {
    height: 5em;
    text-align: center;
}

.button__mobile-menu {
    text-align: center;
    padding: 1em;
}

#appointment-button-MOB {
    -webkit-appearance: none;
    border-radius: 0.3em;
    border: 0;
    background-color: $blue;
    color: $white;
    font-weight: 300;
    display: inline-block;
    font-size: 1em;
    padding: 0.6em 1.5em;
}

.navigation__mobile-menu {
ul {
    list-style-type: none;
    padding-left: 1.2em;
}
li:before {
    content: '\f054';
    font-family: FontAwesome;
    display: inline-block;
    color: $blue;
}
}

.link__navigation__mobile-menu {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.6em;
}

@media (min-width: 700px) {
    .mobile-menu {
        display: none;
    }
}
