// #learn-more-button-2 {
// 	    -webkit-appearance: none;
//     border-radius: .3em;
//     border: 0;
//     background-color: $blue;
//     color: $white;
//     font-weight: 300;
//     display: inline-block;
//     font-size:1em;
//     padding:0.6em 1em;
//     text-transform:uppercase;
// }

// .learn-more-button__post__news__main-page {
// 	text-align:right;
// }
// .post__news__main-page {
// 	width:100%;
//     margin-bottom:3em;
// }
// .date__post__news__main-page {
//     span {
//         padding:0% 5% 0% 5%;
//         color:$blue;
//     }
// }
// .arrow-row {
//     i {
//         display:inline-box;
//         padding:0.5em;
//     }
// }
// .lo-2 {
//     margin: 0 auto;
//     text-align:center;
// }
// .lo-3 {
//     text-align:right;
// }
// .image__post__news__main-page {
//     padding:1em 0;
// }
// .icons__post {
//     margin-bottom: 3em;
// }

// .news__main-page {
//     h2 {
//         padding-top:2em;
//     }
// }
// @media (min-width: 800px) {
// .post__news__main-page {
// 	width:30%;
// }
// .short-content__post__news__main-page {
// 	overflow:hidden;
// 	margin-bottom:1em;
// }
// // .short-content__post__news__main-page {
// //     height:7.5em;
// // }
// }


.news__button {
    text-align:right;
}

.news__date {
    color:grey;
    font-weight:600;
    font-size:1.2em;
    text-align:center;
}


.news__header {
// h4{
// text-overflow: ellipsis;
// white-space: nowrap; 
//     overflow: hidden; 
// }
padding-bottom:1em;
text-align:center;
}

@media (min-width: 960px) {
.news__photo {
   text-align:center;
    img {
       max-height:25em;
    width:auto;  
    }
}
.news__header {
h4{
text-overflow: ellipsis;
white-space: nowrap; 
    overflow: hidden; 
}

}
.news__short-text {
    height:6em;
  overflow:hidden;
}
}