.btn-learn-more--grey {
	border:1px solid white;
	background-color: transparent;
}

.services__btn-learn-more {
	margin-left:1em;
margin-top:2em;
}

.services-block__services__main-page {
	background-color: $blue;
	color:white;
	width:100%;
		line-height:1.5em;
	padding:1% 0em;
	width:100%;
	text-transform:capitalize;
	vertical-align: middle;

}
.services-list__services__main-page {
	padding:1em 0;
}

.services-item {
	i {
		display: inline-block;
		padding-right:0.3em;
	}
}

.title__services__main-page {

	font-weight:600;
	font-size:1.2em;
}


.image__services__main-page.align-self-center {
	display:none;
}
.title-TAB__services__main-page {
	display:none;
}

@media (min-width: 460px) {
.services-list__services__main-page {
	  -webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2;  

}
.services-item {
	i {
		display: none;
	}
}
.title-TAB__services__main-page {
	display:block;
	padding-top:3em;
}
.title__services__main-page {
	display:none;
}
}

@media (min-width: 1000px) {
.services-block__services__main-page {
	width:60%;
	height:25em;
}
.image__services__main-page.align-self-center {
	display:block;
	width:40%;
	height:25em;
	background: url('../img/1.jpg') no-repeat;
background-size: cover;

background-position:10% 50%;

}
.bh {
	padding-left:5%;
}

.services-list__services__main-page {
	width:90%;
	margin:0 auto;
}
}

