.services__bg {
    background-color: $blue;
}

.services__content {
    color: white;
    line-height: 1.8em;
    padding: 2em 0;
    text-transform: capitalize;
    vertical-align: middle;
    background-color: $blue;
    color: white;
}

.services__content {
    li:before {
        content: '\f00c';
        font-family: FontAwesome;
        display: inline-block;
        padding-right: 0.3em;
    }
}
.services__text {
    width: 90%;
    margin: 0 0 0 auto;
}

.services__btn-learn-more {
    margin: 2em 1em 0em;
}

.btn-learn-more--grey {
    border: 1px solid white;
    background-color: transparent;
}

@media (min-width: 540px) {
    .services__text {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 580px) {
    .services__text {
        width: 100%;
    }

    .services__content {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }
    .services__btn-learn-more {
        margin: 2em 0em 0em;
    }
}

@media (min-width: 800px) {
    .services__img {
        width: 90%;
        margin: 0 0 0 auto;
    }
}
@media (min-width: 1200px) {
    .services__content {
        width: 60%;
    }
    .services__img {
        background: url('../img/doctor-points-to-model-spine2.jpg') no-repeat;
        background-position: right center;
        background-size: 100%;
        width: 95%;
        margin: 0 0 0 auto;
    }
}
