.slide {
    width: 100%;
    background: url('../img/0021.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 34em;
}

.slide__wrap {
    width: 100%;
    margin: 0 auto;
}

.slide__border-box {
    width: 90%;
    background-color: rgba(black, 0.15);
    margin: 0 auto;
    margin-top: 7em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin-bottom: 1em;
}

.slide__content {
    color: white;
    padding: 1em;
}

.slide__title {
    text-align: center;
}
.slide__motto {
    text-align: center;
    font-family: $kaushan;
    // text-shadow:1px 1px  1px black;
    font-size: 1.5em;
    padding: 1em 0;
}

.slide__btn-learn-more {
    margin: 0.5em 0 1em;
}

@media (min-width: 740px) {
    .slide__border-box {
        position: relative;
        margin-top: 10em;
    }
    .slide__content {
        padding: 5em;
    }

    .slide__border-box::before,.slide__border-box::after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .draw {
        -webkit-transition: color 0.5s;
                transition: color 0.5s;
    }
    .draw::before,.draw::after {
        border: 0.2em solid transparent;
        width: 0;
        height: 0;
    }
    .draw::before {
        top: 0;
        left: 0;
    }
    .draw::after {
        bottom: 0;
        right: 0;
    }

    .draw.active::before,.draw.active::after {
        width: 100%;
        height: 100%;
    }
    .draw.active::before {
        border-top-color: white;
        border-right-color: white;
        -webkit-transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
                transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
    }
    .draw.active::after {
        border-bottom-color: white;
        border-left-color: white;
        -webkit-transition: border-color 0s ease-out 1s, width 0.5s ease-out 1s, height 0.5s ease-out 1.5s;
                transition: border-color 0s ease-out 1s, width 0.5s ease-out 1s, height 0.5s ease-out 1.5s;
    }
}

@media (min-width: 772px) and (orientation: landscape) {
    .slide {
        background: url('../img/bg-TAB__welcome-block.jpg') no-repeat;
        background-size: cover;
        background-position: 75% 0;
    }
    .slide__border-box {
        background-color: rgba($blue, 0.05);
        border: 0;
        width: 60%;
        margin-left: 4em;
    }
    .slide__content {
        padding: 3em;
        color: $text-color;
    }
    .slide__title {
        text-align: left;
    }

    .slide__motto {
        color: $blue;
        text-align: left;
        text-shadow: none;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    .slide__content {
        padding: 4em;
    }
}
@media (min-width: 1650px) and (orientation: landscape) {
    .slide__border-box {
        width: 50%;
        margin-left: 10em;
    }
    .slide__content {
        padding: 8em;
    }
}
