  .block__content {
    width: 90%;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}


@media (min-width: 1500px) {
    .block__content {
        width: 100%;
        max-width: 1400px;
    }
}

.welcome-slide {
    width: 100%;
    background: url('/img/image6.jpg') no-repeat;
    -webkit-background-size: cover;
    min-height: 25em;
}


.welcome-slide__wrap {
    position: relative;
    z-index: 200;
}

.welcome-slide__content {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 3em 0;
}

.welcome-slide__name {
    font-size: 2.2em;
    line-height: 1.5em;
    font-weight: 600;
}

.welcome-slide__motto {
    font-size: 2.2em;
    line-height: 1.5em;
}


.slide__btn-learn-more {
    margin: 0.5em 0 1em;
}
.btn-learn-more {
    padding: 0.5em 1em;
}

.welcome-slide__text {
    letter-spacing: 0.05em;
    margin: 1.5em 0;
}

.welcome-slide__button {
    margin: 1.5em 0;
}


@media (min-width: 700px) {
    .welcome-slide {
        background: url('/img/987.jpg') no-repeat;
        background-size: cover;
        background-position: 70% 0;
        position: relative;
    }

    .welcome-slide__gradient {
        position: absolute;
        z-index: 100;
        background: linear-gradient(to right, #242d40, transparent);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 70%;
    }
    .welcome-slide__wrap {
        padding: 5em 0;
    }

    .welcome-slide__content {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .welcome-slide__content {
        max-width: 60%;
    }
}
@media (min-width: 1400px) {
    .welcome-slide {
        background: url('/img/bg-PC__welcome-block.jpg') no-repeat;
        background-size: cover;
        background-position: 75% 0;
        position: relative;
    }
}
