//Colors
$blue: #199ed8;
$text-color: #292b2c;
$white: hsl(0, 0%, 100%);
$grey:#F2F2F2;


//Fonts

$lato: 'Lato', sans-serif;
$kaushan: 'Kaushan Script', cursive;


body {
    font-family: $lato;
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
    min-width: 20em;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
     line-height:1.5em;
     text-transform:uppercase;
     padding:0.5em 0em 0.5em 0.8em;
}
h2:before {
    content: '\f054';
    font-family: FontAwesome;
    display: inline-block;
    color: $blue;
    padding:0 0.5em;

}

h3 {   
    font-size: 1.1em;
     line-height:1.5em;
     font-weight:600;
     // padding: 0em 1em;

}

h4 {
    padding:0 0.8em;
    font-size:1.2em;
    font-weight:600;
    margin: 1em 0 0.7em;
}
a {
    text-decoration: none;
    color: $text-color;
}

img {
    width: 100%;
    height: auto;
}
svg {
    height:1%;
}
.alt-image {
    display: none;
}

.non-visible {
    opacity:0;
}


.svg-item {
    width: 100%;
    height: auto;
}


.link , .link:focus, .link:visited, .link:hover, .link:active {
    outline: none;
  text-decoration: none;
  color:$text-color;
}

ul {
    list-style-type: none;
}

.row {
    margin: 0;
}

/* .darker {
    background-color:$text-color;
    opacity:0;
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100vh;
    display:none;
} */


@import 'welcome-page.scss';
@import 'header4.scss';
@import 'mobile-menu.scss';
@import 'main-page.scss';

