/*@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Lora-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
} */



body {
	font-family: 'Raleway';
}