body {
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  width: 100%;
  min-width: 20em;
  color: #292b2c;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 5% 5% 2.5%; }

h2:before {
  content: '\f054';
  font-family: FontAwesome;
  display: inline-block;
  color: #199ed8;
  padding: 0 0.5em; }

h3 {
  font-size: 1.2em;
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: #292b2c; }

img {
  width: 100%;
  height: auto; }

.alt-image {
  display: none; }

.non-visible {
  opacity: 0; }

/* .darker {
    background-color:$text-color;
    opacity:0;
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100vh;
    display:none;
} */
.welcome-page {
  height: 100vh;
  width: auto;
  z-index: 1000; }

.welcome-block {
  width: 100%;
  position: relative;
  margin: auto; }

.welcome-block__logo {
  width: 100%;
  padding-top: 6em;
  margin: 0 auto; }

@media only screen and (min-width: 500px) {
  .welcome-window {
    -webkit-background-size: cover;
    background-size: cover; }
  .welcome-window__logo {
    background-color: rgba(100, 167, 218, 0.6);
    z-index: 10000;
    width: 60%;
    padding-top: 1.2em; }
  .welcome-window__logo-blue {
    width: 60%;
    margin: 0 auto; }
  .welcome-window-text__pc {
    display: block;
    text-align: center;
    font-size: 2.5em;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    line-height: 1.3em;
    color: white;
    font-weight: 100; } }

.alt-logo.no-csstransforms {
  display: block; }

#black {
  opacity: 1; }

#logo-text-fl {
  fill: #FFF; }

#gradient-bet {
  opacity: 0; }

#black-center {
  opacity: 0; }

.cont {
  position: relative;
  left: 49%; }

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
  -o-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite; }

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
  -o-animation: move 3s ease-out 1s infinite;
  animation: move 3s ease-out 1s infinite; }

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
  -o-animation: move 3s ease-out 2s infinite;
  animation: move 3s ease-out 2s infinite; }

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff; }

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg); }

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg); }

@-webkit-keyframes move {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }

@-o-keyframes move {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }

@keyframes move {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }

.text-br {
  display: block;
  -webkit-animation: pulse 2s linear alternate infinite;
  -o-animation: pulse 2s linear alternate infinite;
  animation: pulse 2s linear alternate infinite;
  color: #fff;
  text-transform: uppercase;
  opacity: .25;
  font-size: 0.5em;
  padding-top: 2.5em;
  text-shadow: none; }

@-webkit-keyframes pulse {
  to {
    opacity: 1; } }

@-o-keyframes pulse {
  to {
    opacity: 1; } }

@keyframes pulse {
  to {
    opacity: 1; } }

.quick-access-TAB {
  display: none; }

.navbar-top {
  position: fixed;
  padding: .1em;
  width: 100%;
  height: 5em;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 200;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.logo-box__navbar-top {
  height: 100%;
  width: auto; }

#logo-header {
  height: 100%;
  width: auto; }

#logo-ALT__navbar-top {
  width: auto;
  height: 100%;
  margin-left: 2em; }

.phone-icon__phone-numbers__navbar-top-MOB {
  color: #199ed8;
  width: 1.3em;
  padding: .3em; }

.menu-icon__navbar-top-MOB {
  height: 100%; }

#hamburger-icon {
  width: 3.2em;
  position: relative;
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 1.10em; }

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 0.45em;
  width: 100%;
  background: #292b2c;
  border-radius: 0.3em;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger-icon span:nth-child(1) {
  top: 0px; }

#hamburger-icon span:nth-child(2) {
  top: 18px; }

#hamburger-icon span:nth-child(3) {
  top: 36px; }

#hamburger-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: grey;
  scale: 0.7; }

#hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  background-color: grey;
  scale: 0.7; }

#hamburger-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: grey;
  scale: 0.7; }

.menu__navbar-top-TAB {
  display: none; }

.menu__navbar-top-PC {
  display: none; }

#appointment-button {
  display: none; }

#appointment-button-LAP {
  display: none; }

@media (min-width: 700px) {
  .quick-access-TAB {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 15000;
    height: 3.5em;
    background-color: #F2F2F2;
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .social-icons-block__quick-access-TAB, .phone-numbers-block__quick-access-TAB {
    padding: 0 1em; }
  .social-icon__social-icons-block__quick-access-TAB, .phone-icon__phone-numbers-block__quick-access-TAB {
    padding: 0em 0.8em;
    font-size: 1.3em; }
  .phone-numbers-block__quick-access-TAB a {
    padding-right: 0.8em; }
  .phone-icon__phone-numbers-block__quick-access-TAB {
    color: #199ed8; }
  .phone-numbers__navbar-top-MOB {
    display: none; }
  .menu-icon__navbar-top-MOB {
    display: none; }
  .menu__navbar-top-TAB {
    display: block; }
  .link__menu__navbar-top {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.6em;
    font-weight: 600; }
  .dropdown-menu {
    border: 0;
    line-height: 1.5em;
    background-color: none;
    font-size: 1.5em; }
  .dropdown-toggle {
    font-size: 1em;
    text-transform: uppercase;
    color: #292b2c; }
  .dropdown-item {
    font-size: 0.6em;
    text-transform: uppercase; }
  .dropdown-item:hover {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }
  #appointment-button {
    -webkit-appearance: none;
    border-radius: .3em;
    border: 0;
    background-color: #199ed8;
    color: white;
    font-weight: 300;
    display: inline-block;
    font-size: 1em;
    padding: 0.6em 1em; }
  .menu__navbar-top-PC {
    display: none; }
  .navbar-top {
    margin-top: 3.5em; } }

@media (min-width: 800px) {
  #appointment-button {
    display: none; }
  #appointment-button-LAP {
    display: block;
    -webkit-appearance: none;
    border-radius: .3em;
    border: 0;
    background-color: #199ed8;
    color: white;
    font-weight: 300;
    display: inline-block;
    font-size: 1em;
    padding: 0.6em 1em; } }

@media (min-width: 1300px) {
  .navbar-top {
    height: 6em; }
  .menu__navbar-top-TAB {
    display: none; }
  .menu__navbar-top-PC {
    display: block; } }

.mobile-menu {
  width: 80%;
  background-color: white;
  z-index: 300;
  top: 0;
  left: 0;
  position: absolute;
  display: none; }

.logo__mobile-menu {
  height: 5em;
  text-align: center; }

.button__mobile-menu {
  text-align: center;
  padding: 1em; }

#appointment-button-MOB {
  -webkit-appearance: none;
  border-radius: 0.3em;
  border: 0;
  background-color: #199ed8;
  color: white;
  font-weight: 300;
  display: inline-block;
  font-size: 1em;
  padding: 0.6em 1.5em; }

.navigation__mobile-menu ul {
  list-style-type: none;
  padding-left: 1.2em; }

.navigation__mobile-menu li:before {
  content: '\f054';
  font-family: FontAwesome;
  display: inline-block;
  color: #199ed8; }

.link__navigation__mobile-menu {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.6em; }

@media (min-width: 700px) {
  .mobile-menu {
    display: none; } }

.welcome-block__main-page {
  width: 100%;
  background: url("../img/bg-MOB_port__welcome-block.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 10% 0; }

.text__welcome-block__main-page {
  padding-top: 8em; }

.title__text__welcome-block__main-page {
  max-width: 50%;
  font-weight: 600; }

.motto__text__welcome-block__main-page {
  color: #199ed8;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  max-width: 70%;
  padding: 0.9em 0;
  line-height: 1.2em; }

.subtitle__text__welcome-block__main-page {
  display: none; }

.subtitle-TAB__text__welcome-block__main-page {
  display: none; }

.decription-PC__text__welcome-block__main-page {
  display: none; }

#learn-more-button {
  display: none; }

@media (min-width: 450px) {
  .welcome-block__main-page {
    background: url("../img/bg-MOB_land__welcome-block.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 70% 0; }
  .text__welcome-block__main-page {
    padding-top: 7em;
    padding-bottom: 1em; }
  .title__text__welcome-block__main-page {
    max-width: 70%; }
  .motto__text__welcome-block__main-page {
    max-width: 100%; }
  .subtitle__text__welcome-block__main-page {
    display: block;
    padding-bottom: 0.9em;
    font-weight: 600; }
  #learn-more-button {
    -webkit-appearance: none;
    border-radius: .3em;
    border: 0;
    background-color: #199ed8;
    color: white;
    font-weight: 300;
    display: inline-block;
    font-size: 1em;
    padding: 0.6em 1em;
    text-transform: uppercase;
    display: block; } }

@media (min-width: 700px) {
  .subtitle__text__welcome-block__main-page {
    display: none; }
  .welcome-block__main-page {
    background: url("../img/bg-TAB__welcome-block.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 68% 0; }
  .text__welcome-block__main-page {
    padding-top: 8em;
    padding-left: 2em;
    padding-bottom: 2em; }
  .subtitle-TAB__text__welcome-block__main-page {
    display: block;
    max-width: 55%;
    padding: 0 0 0.9em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    font-weight: 600; }
  .text__welcome-block__main-page {
    padding-top: 11.5em; } }

@media (min-width: 900px) {
  .decription-PC__text__welcome-block__main-page {
    display: block;
    max-width: 50%;
    text-align: justify;
    font-size: 1em;
    padding-bottom: 0.9em; }
  .subtitle-TAB__text__welcome-block__main-page {
    max-width: 60%; } }

@media (min-width: 1100px) {
  .text__welcome-block__main-page {
    padding-top: 12em;
    padding-left: 3em;
    padding-bottom: 2em; }
  .title__text__welcome-block__main-page {
    font-size: 3.5em; }
  .subtitle-TAB__text__welcome-block__main-page {
    max-width: 55%;
    padding: 0.9em 0 0em; } }

@media (min-width: 1500px) {
  .welcome-block__main-page {
    background: url("../img/bg-PC__welcome-block.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
  .text__welcome-block__main-page {
    padding-top: 14em;
    padding-bottom: 4em;
    padding-left: 7em; }
  .subtitle-TAB__text__welcome-block__main-page {
    max-width: 45%; }
  .decription-PC__text__welcome-block__main-page {
    max-width: 45%; } }

.about-us__main-page {
  padding: 0; }

.about-clinic__about-us__main-page {
  font-size: 1.1em;
  line-height: 1.6em;
  max-width: 100%; }

.about-doctor__about-us__main-page {
  width: 100%;
  background-color: #F2F2F2;
  padding: 1em 0; }

.marked-text {
  color: #199ed8;
  font-weight: 600; }

.info__about-doctor__about-us__main-page {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.6em; }

.title__about-doctor__about-us__main-page {
  font-size: 1.2em;
  color: #199ed8;
  font-weight: 600;
  line-height: 2em; }

.text__about-doctor__about-us__main-page {
  padding: 1em;
  font-style: italic;
  line-height: 1.6em; }

.tel__about-doctor__about-us__main-page {
  display: none; }

.icons-block__about-us__main-page {
  width: 45%;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #F2F2F2;
  text-align: center; }
  .icons-block__about-us__main-page i {
    color: #07638A; }

.title__icons-block__about-us__main-page {
  font-weight: 600;
  padding: 0.5em 0; }

.text__icons-block__about-us__main-page {
  display: none; }

.text-TAB__about-doctor__about-us__main-page {
  display: none; }

@media (min-width: 460px) {
  .text__icons-block__about-us__main-page {
    text-align: left;
    display: block;
    padding: 0 0.5em; }
  .tel__about-doctor__about-us__main-page {
    padding: .5em 0;
    line-height: 1.8em;
    font-weight: 600;
    display: block; }
    .tel__about-doctor__about-us__main-page i {
      color: #199ed8;
      width: 1.3em; } }

@media (min-width: 600px) {
  .text__about-doctor__about-us__main-page {
    padding-top: 1.5em; } }

@media (min-width: 700px) {
  .text__about-doctor__about-us__main-page {
    display: none; }
  .text-TAB__about-doctor__about-us__main-page {
    padding-top: 1em;
    font-style: italic;
    line-height: 1.6em;
    display: block; }
  .about-doctor__about-us__main-page {
    padding: 2em 0; } }

@media (min-width: 800px) {
  .icons-block__about-us__main-page {
    margin: 0;
    width: 25%;
    padding: 2em 1.2em 1em; }
  .icons-block-wrap__about-us__main-page {
    margin-top: 2.5em; } }

@media (min-width: 1000px) {
  .about-clinic__about-us__main-page {
    width: 45%; }
  .about-doctor__about-us__main-page {
    width: 45%; }
  .text-TAB__about-doctor__about-us__main-page {
    display: none; }
  .text__about-doctor__about-us__main-page {
    display: block;
    width: 100%; }
  .col-old {
    width: 40%; } }

@media (min-width: 1500px) {
  .about-doctor__about-us__main-page {
    max-width: 40%;
    margin-right: 3em; }
  .about-clinic__about-us__main-page {
    text-align: justify; } }

.services-block__services__main-page {
  background-color: #199ed8;
  color: white;
  width: 100%;
  line-height: 1.5em;
  padding: 3% 0.8em;
  width: 100%;
  text-transform: capitalize;
  vertical-align: middle; }

.services-list__services__main-page {
  padding: 1em 0; }

.title__services__main-page {
  padding: 3em 0.8em 0.8em;
  font-weight: 600;
  font-size: 1.2em; }

.image__services__main-page.align-self-center {
  display: none; }

.title-TAB__services__main-page {
  display: none; }

@media (min-width: 460px) {
  .services-list__services__main-page {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  .title-TAB__services__main-page {
    display: block;
    padding-top: 3em; }
  .title__services__main-page {
    display: none; } }

@media (min-width: 1000px) {
  .services-block__services__main-page {
    width: 60%;
    height: 25em; }
  .image__services__main-page.align-self-center {
    display: block;
    width: 40%;
    height: 25em;
    background: url("../img/1.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 5em;
    background-position: 10% 50%; } }

#learn-more-button-2 {
  -webkit-appearance: none;
  border-radius: .3em;
  border: 0;
  background-color: #199ed8;
  color: white;
  font-weight: 300;
  display: inline-block;
  font-size: 1em;
  padding: 0.6em 1em;
  text-transform: uppercase; }

.learn-more-button__post__news__main-page {
  text-align: right; }

.post__news__main-page {
  width: 100%; }

@media (min-width: 800px) {
  .post__news__main-page {
    width: 30%; }
  .short-content__post__news__main-page {
    overflow: hidden;
    margin-bottom: 1em; } }

.text {
  padding: 2em; }

.pt {
  float: right; }

.fa-quote-right {
  padding: 0 1em; }

.ko {
  background-color: #F2F2F2;
  width: 100%; }

.pt {
  color: #199ed8;
  font-style: italic; }

.lol {
  display: none; }

.text {
  max-width: 100%; }

@media (min-width: 700px) {
  .ko {
    background: url("../img/senior-couple.png") no-repeat #F2F2F2; }
  .text {
    padding-left: 40%;
    max-width: 100em; } }

@media (min-width: 900px) {
  .ko {
    background-position: 10% 0; } }
