//Colors
$blue: #199ed8;
$text-color: #292b2c;
$white: hsl(0, 0%, 100%);
$grey:#F2F2F2;
$blue2:#07638a;
$blue3:#435b74;
//Fonts

$open: 'Open Sans', sans-serif;
$kaushan: 'Kaushan Script', cursive;
.wow { visibility: hidden; }

.header__info-panel {
    position: absolute;
    background-color: blue;
    top:50px;
}

body {
font-family: 'PT Sans', sans-serif;
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
    min-width: 20em;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.2em;
    text-transform: uppercase;
    font-weight:600;
    line-height: 1.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
     line-height:1.5em;
     text-transform:uppercase;
     // padding:0.5em 0em 0.5em 0.8em;
     padding: 1.5em 0;
     font-weight:600;
}
h2:before {
    content: '\f054';
    font-family: FontAwesome;
    display: inline-block;
    color: $blue;
    padding:0 0.5em;

}

h3 {   
    font-size: 1.17em;
     line-height:1.5em;
     font-weight:600;
    

}

h4 {
    padding:0 0.8em;
    font-size:1.12em;
    font-weight:600;
    margin: 1em 0 0.7em;
}
a {
    text-decoration: none;
    color: $text-color;
}

img {
    width: 100%;
    height: auto;
}
svg {
    height:1%;
}

ul {
    padding:0;
    margin:0;
}
.alt-image {
    display: none;
}

.non-visible {
    opacity:0;
}


.svg-item {
    width: 100%;
    height: auto;
}


a , a:focus, a:visited, a:hover, a:active {
    outline: none;
  text-decoration: none;
}

a:hover, a:active {
    color:$blue;
}

ul {
    list-style-type: none;
}

.row {
    margin: 0;
}

/* .darker {
    background-color:$text-color;
    opacity:0;
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 100vh;
    display:none;
} */
#wrap {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.5;
}

#wrap-trans {
     position:absolute;
    width:100%;
    height:100%;
    opacity:0.8;
}
.button {
    -webkit-appearance: none;
    border: 0;
    font-size: 1em;
    text-transform: capitalize;
    cursor: pointer;
}

.btn-appointment {
    border-radius: 0.3em;
    background-color: $blue;
    color: $white;
    font-size:1em;
        margin:0.5em;
    padding:0.6em 1em;
     border-radius: 0.5em;

}

.btn-learn-more {
    font-size: 1em;

    padding: .6em 1em; 

    color: white;
    background-color: transparent;
border: 1px solid white;
    -webkit-appearance: none;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }
.marked-text {
     color:$blue;
 font-weight:600;
}
// .block {
//     width:80%;
// }
// @media (min-width: 1800px) {
//     .container {
// width: 1300px;
// max-width: 100%;
//     }
// }
// @import 'welcome-page.scss';
@import 'preloader.scss';
@import 'header.scss';
@import 'main-page.scss';
@import 'footer.scss';
@import 'page-services.scss';
