.testimonials {
    background-color: $grey;
    margin-bottom:1em;
}

.testimonials__bg {
    width: 100%;
    background: url('../img/seni.jpg') no-repeat;
    background-size: cover;
    height: 13em;
    background-position: center;
}

.testimonials__wrap {
    display: flex;
    // background-color: pink;
    // justify-content: center;
    // align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height:130px;
}

.testimonials__arrow {
    height: auto;
    // background-color: green;
    align-self:flex-start;
    padding-top:70px;
    i {
        display:inline-block;
        font-size: 2.7em;
        color:grey;
        opacity:0.3;
text-shadow:1.2px 0.5px 1px black;
        transition:all 0.5s;
    }
    i:hover {
        color:$blue;
        opacity:1;
        text-shadow:none;
        // text-shadow:0px 0.5px 0px rgba(black, 0.1);
    }
}

.testimonials__item {
    width: 80%;
    padding: 1em 0;
}

.testimonials__text {
    width: 90%;
    margin: 0 auto;
    // font-style: italic;
    font-weight:300;
    font-size:1.2em;
    // background-color: yellow;
}

.testimonials__text:before, .testimonials__text:after {
    content:" '' ";
}

.testimonials__patient {
    text-align: right;
    display: inline-block;
    padding-top: 1em;
    width: 90%;
    margin: 0 auto;
    font-family: $kaushan;
}

.testimonials__bg--PC {
    display: none;
}


@media (min-width: 240px) and (orientation: landscape) {
    .testimonials__bg {
        display: none;
    }

    .testimonials__bg--PC {
        display: block;
        background: url('../img/serni2.jpg') no-repeat;
        background-size: cover;
        height: 10em;
        background-position: top center;
    }
}

@media (min-width: 740px) {
    .testimonials__wrap {
        width: 100%;
    }
    .testimonials__item {
        width: 90%;
    }
    .testimonials__text {
        width: 100%;
        padding: 2em 2em;
    }
}

@media (min-width: 900px) {
    .ljkjhkjh {
        display:none;
    }
    .testimonials__bg,.testimonials__bg--PC {
        display: none;
    }
    .testimonials__row {
        display: flex;
        justify-content: flex-end;
        background: url('../img/senior-couple.png') no-repeat;
        background-position: 0 0;
    }
    .testimonials__wrap {
        width: 60%;
        margin: 0;
    }
    .testimonials__wrap {
        min-height:260px;
    }
}
@media (min-width: 1200px) {
    .testimonials__row {
        width: 85%;
        background-position: 10% 0%;
    }
    .testimonials__wrap {
        justify-content: flex-end;
        // background-color:yellow;
    }

        .ljkjhkj {
        display:flex;
    }
}

@media (min-width: 1600px) {
    .testimonials__row {
        width: 80%;
        background-position: 15% 0;
    }

    .testimonials__wrap {
        width: 60%;
    }
}
