.welcome-window {

	height:100vh;
	z-index:1000;

}

.welcome-window__logo {
    width: 100%;

    position: relative;
      top: 50%;
  transform: translateY(-50%);
   margin: auto;
}
.welcome-window__logo-blue {
	width:100%;

	margin:0 auto;
}
.welcome-window-text__pc {
	display:none;
}

@media only screen and (min-width: 500px){

.welcome-window {
	background:url('../img/Why2.jpg') no-repeat;
	background-size:cover;

}
.welcome-window__logo {
	background-color: rgba(100,167,218, 0.6);
	z-index:10000;
	width:60%;
	padding-top:1.2em;

}

.welcome-window__logo-blue {
	width:60%;
	margin:0 auto;

}
.welcome-window-text__pc {
	display:block;
	text-align:center;
	font-size: 2.5em;
	padding-top:0.8em;
	padding-bottom:0.5em;
	line-height:1.3em;

	color:$white;
	font-family:'Lato', sans-serif;
	font-weight:100;
}
}

#black {
	opacity:1;

}


#logo-text-fl {
	fill:#FFF;
}
#gradient-bet {
	opacity:0;
}
#black-center {
	opacity:0;

}

.cont {
  position: relative;

  left:49%;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


.text-br {
	display:block;
	  animation: pulse 2s linear alternate infinite;
	  color: #fff;
  text-transform: uppercase;
    opacity: .25;
    font-size:0.5em;
    padding-top:2.5em;
    text-shadow:none;
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}

