.welcome-window {
	background:url('../img/logo6.svg');
	height:100vh;
	z-index:1000;
	padding-top:7em;
}

#black {
	opacity:1;
}

#gradient {
	opacity:0;
}
#logo-text-fl {
	fill:#000;
}
#gradient-b {
	opacity:0;
}
#black-center {
	opacity:0;

}