section.about-us
	.wrapper-fluid
		h2 about us
		.row.js-class.row-md
			.about-us__clinic.col-12.col-lg-6
				span All consultations at The Bourne Osteopath Clinic focus on the diagnosis, management, treatment and prevention of musculoskeletal and other related disorders 
				span.marked-text without the use of drugs or surgery.
				br
				span In Bourne, all treatments are in a medical centre, providing 
				span.marked-text the perfect safe, caring environment, 
				span giving necessary peace of mind to you, the patient. Treatments are available Monday to Saturday with free parking. 
				br
				span The clinic is open to everyone.
			.about-us__doctor.col-12.col-lg-6
				.row.align-items-center
					.col-6.doctor__photo
						img(src="img/jo.jpg")
					.col-6
						a(href="#").doctor__name.marked-text Mr Jo Sunner
						br
						span.doctor__title BSc(ost.) DO. MMSM. Registered Osteopath
						.doctor__phones
							i(class="fa fa-phone" aria-hidden="true")
							a(href="tel:01778-426000") 01778 426000 
							br
							i(class="fa fa-mobile" aria-hidden="true")
							a(href="tel:01778-426000") 01778 426000 
						.doctor__text-block--PC
							p.doctor__text Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 
				.row.doctor__text-wrap
					.col-12
						p.doctor__text Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 
