//- section.about-us
//- 	.wrapper-fluid
//- 		h2 about us
//- 		.row.js-class.row-md(class="wow fadeInUp" data-wow-duration="1.5s" )
//- 			.about-us__clinic.col-12.col-lg-6
//- 				span All consultations at The Bourne Osteopath Clinic focus on the diagnosis, management, treatment and prevention of musculoskeletal and other related disorders 
//- 				span.marked-text without the use of drugs or surgery.
//- 				br
//- 				span In Bourne, all treatments are in a medical centre, providing 
//- 				span.marked-text the perfect safe, caring environment, 
//- 				span giving necessary peace of mind to you, the patient. Treatments are available Monday to Saturday with free parking. 
//- 				br
//- 				span The clinic is open to everyone.
//- 			.about-us__doctor.col-12.col-lg-6
//- 				.row.align-items-center
//- 					.col-6.doctor__photo
//- 						img(src="img/jo.jpg")
//- 					.col-6
//- 						a(href="#").doctor__name.marked-text Mr Jo Sunner
//- 						br
//- 						span.doctor__title BSc(ost.) DO. MMSM. Registered Osteopath
//- 						.doctor__phones
//- 							i(class="fa fa-phone" aria-hidden="true")
//- 							a(href="tel:01778-426000") 01778 426000 
//- 							br
//- 							i(class="fa fa-mobile" aria-hidden="true")
//- 							a(href="tel:01778-426000") 01778 426000 
//- 						.doctor__text-block--PC
//- 							p.doctor__text Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 
//- 				.row.doctor__text-wrap
//- 					.col-12
//- 						p.doctor__text Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 

section.about-us
	.about-us__wrap
		.about-us__content.block__content
			.row.row-OLD.justify-content-between
				.about-us__text.col-lg-6
					p.section__title.about-us__section-title About Us
					p.about-us__p Pulse Practice is a healthcare group based in Bourne, South Lincolnshire that has evolved from its origins as the Bourne Osteopath Clinic and expanded into a multi disciplinary practice housed in modern premises developed to provide the latest standards in health care.The Pulse Practice touches the lives hundreds of patients a year by offering speedy access to practitioners who provide healthcare of the highest quality to patients on a daily basis. All practitioners at Pulse Practice are fully qualified, registered with their appropriate professional bodies and fully committed to upholding the clinic's promise of 'Care Beyond Boundaries'.
				figure.about-us__photo.col-lg-6
					img(src="/img/client.jpg")
					figcaption.about-us__caption Celebrity patients Geoff Capes, worlds strongest man and former Olympian and Martin Adams, twice world darts champion.
section.our-benefits
	.our-benefits__wrap
		.our-benefits__content.block__content
			.row.justify-content-center
				.section__title.our-benefits__title What Makes Us the Best?
			.row.justify-content-between
				.col.sdsdd
					.hgh
						//- i(class="fa fa-calendar-plus-o" aria-hidden="true")
						p.gh1 Experience
						div  The longest established clinic in the area (since 1993)
				.col.sdsdd.sdsdd-2
					.hgh
						//- i(class="fa fa-calendar-plus-o" aria-hidden="true")
						p.gh2 Professionalism
						div  Approved by all major health insurance companies
				.col.sdsdd.sdsdd-3
						//- i(class="fa fa-calendar-plus-o" aria-hidden="true")
						p.gh3 Promptness
						div  Same day or next day MRI scans
				.col.sdsdd.sdsdd-4
					.hgh
						//- i(class="fa fa-calendar-plus-o" aria-hidden="true")
						p.gh4 Reputation
						div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
section.new
	.new__wrap(data-stellar-background-ratio="0.3")
section.jhk
	.jhk__wrap
		.jhk__content.block__content
			.section__title.jhk__title.section-title-animate Meet The Team
			.row
				.col-xl-7.da
					.row
						.col-6.gg
							img(src="img/o2.jpg")
							div.hj.row
								p.dor
									i(class="fa fa-phone" aria-hidden="true")
									span 07943 336336
									br
									i(class="fa fa-envelope-o" aria-hidden="true")
									span josunner@aol.com
								.row.justify-content-center.df
									button.button#appointment-button(data-toggle="modal" data-target="#exampleModal") Appointment Request	
						.col-6.bv
							.name
								span.name1 Mr Jo Sunner
								br
								span.name2 BSc(ost.) DO. MMSM. Registered Osteopath/
								span.name2 Clinical Director

							p.textk  Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He is the longest clinically established osteopath in the area. He is also the only Registered Osteopath with clinical experience of consulting at the Fitzwilliam Hospital in Peterborough working with orthopedic consultants, pain management consultants and consultant rheumatologists.
								br
								|Jo also now consults at the Avicenna Clinic, in peterborough which is a consultant led private clinic. Avicenna clinic has the only “open MRI ” scanner in the area.
				.col-xl-5.kjhsss
					img(src="img/google.jpg")




