section.container-fluid
	h2 About us
	.row.about-us__main-page
		.about-clinic__about-us__main-page.container
			span All consultations at The Bourne Osteopath Clinic focus on the diagnosis, management, treatment and prevention of musculoskeletal and other related disorders 
			span.marked-text without the use of drugs or surgery.
			br
			span.marked-text Jo Sunner 
			span is the principle at The Bourne Osteopath Clinic, the Bourne areas longest established Osteopath clinic. Jo Sunner also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists.
			br
			span In Bourne, all treatments are in a medical centre, providing 
			span.marked-text the perfect safe, caring environment, 
			span giving necessary peace of mind to you, the patient. Treatments are available Monday to Saturday with free parking. 
			br
			span The clinic is open to everyone. 
		.about-doctor__about-us__main-page.container-fluid.row.align-items-center.justify-content-around
			.col-6
				img(src="../img/jo.jpg")
			.col-6
				a(href="#").title__about-doctor__about-us__main-page Mr Jo Sunner
				br
				span.info__about-doctor__about-us__main-page BSc(ost.) DO. MMSM. Registered Osteopath
				.tel__about-doctor__about-us__main-page
					i(class="fa fa-phone" aria-hidden="true")
					a(href="tel:01778-426000") 01778 426000 
					br
					i(class="fa fa-mobile" aria-hidden="true")
					a(href="tel:01778-426000") 01778 426000 
				.text-TAB__about-doctor__about-us__main-page Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 
			.text__about-doctor__about-us__main-page Mr. Jo Sunner is the principle at Bourne Osteopath Clinic. He also consults at the Fitzwilliam Hospital in Peterborough, working with orthopedic consultants, pain management consultants and consultant rheumatologists. 
	.icons-block-wrap__about-us__main-page.row.justify-content-between
		.icons-block__about-us__main-page
			i(class="fa fa-user-md fa-4x" aria-hidden="true")
			h3.title__icons-block__about-us__main-page Since 1993
			p.text__icons-block__about-us__main-page Bourne Osteopath Clinic is the longest established clinic in the area
		.icons-block__about-us__main-page
			i(class="fa fa-info-circle fa-4x" aria-hidden="true")
			h3.title__icons-block__about-us__main-page Expert Advice
			p.text__icons-block__about-us__main-page Our Osteopaths are experts in their field and they provide effective approaches to a wide range of musculoskeletal conditions 
		.icons-block__about-us__main-page
			i(class="fa fa-trophy fa-4x" aria-hidden="true")
			h3.title__icons-block__about-us__main-page Award Winning
			p.text__icons-block__about-us__main-page  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat libero, excepturi at eveniet praesentium.
		.icons-block__about-us__main-page
			i(class="fa fa-star fa-4x" aria-hidden="true")
			h3.title__icons-block__about-us__main-page First Class Service
			p.text__icons-block__about-us__main-page Bourne Osteopath Clinic was rated 5 stars by our patience