.form
	form
		input(type="datetime-local")
		div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, cupiditate quam dolorem at? Commodi perferendis magnam suscipit obcaecati deserunt ratione?