section.banner
	p.banner-title(class="wow fadeIn" data-wow-duration="2s") Do you want to Get a free consultation?
	p.text-banner We are always ready to welcome you in our clinic!
	button.banner-button.development(class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s")  Book an appointment