section.banner(data-stellar-background-ratio="0.6")
	.wrapper-fluid
		.banner__title
			h3 Do you want to Get a free consultation?
		.banner__text
			p We are always ready to welcome you in our clinic!
		button.button.btn-learn-more.btn-learn-more--grey(class="wow fadeInUp" data-wow-duration="1s" ) book an appointment