section.benefits
	.container
		h2 our benefits
	.bene
		.benefits__wrap
			.benefits__content-1.row.no-gutters
				.benefits__item.col-12.col-md-6(class="wow fadeIn" data-wow-duration="1.5s"  )
					.benefits__header.row.align-items-center
						.benefits__icon.benefits__icon-1
						.benefits__title
							h3 Since 1993
					.benefits__text
						p Bourne Osteopath Clinic is the longest established clinic in the area
				.benefits__item.col-12.col-md-6(class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1s" )
					.benefits__header.row.align-items-center
						.benefits__icon.benefits__icon-2
						.benefits__title
							h3 Expert Advice
					.benefits__text
						p Our Osteopaths are experts in their field and they provide effective approaches to a wide range of musculoskeletal conditions 
			.benefits__content-2.row.no-gutters
				.benefits__item.col-12.col-md-6(class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="2s" )
							.benefits__header.row.align-items-center
								.benefits__icon.benefits__icon-3
								.benefits__title
									h3 Award Winning
							.benefits__text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta repellat libero, excepturi at eveniet praesentium.
				.benefits__item.col-12.col-md-6(class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="3s" )
					.benefits__header.row.align-items-center
						.benefits__icon.benefits__icon-4
						.benefits__title
							h3 5-star service
					.benefits__text
						p Bourne Osteopath Clinic was rated 5 stars by our patience