
section.blog
	.wrapper-fluid
		h2 latest posts
		.row.blog__row
			.col-lg-4.blog__item
				a(href="")
					img(src="img/0101.jpg")
					h3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam at veniam iure perspiciatis dignissimos vero perferendis placeat sint excepturi sunt! Repellendus fugiat omnis, cumque pariatur!
					.blog__text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vitae ex quo unde harum pariatur illo, tempora, incidunt quasi illum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cumque reiciendis id, voluptatem ducimus illum molestiae. Architecto doloremque, corporis vel earum. Officia ipsa consectetur maiores at odio error laboriosam voluptatum corporis? Numquam impedit consequatur qui porro dolorem quis nihil ut, dolore tempore tempora, illum omnis ipsam earum sapiente assumenda harum!
			.col-lg-4.blog__item
				.blog__img
					img(src="img/one-hiking-lifestyle-summer-yoga_1150-1002.jpg")
				h3 kojkjh
				.blog__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vitae ex quo unde harum pariatur illo, tempora, incidunt quasi illum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cumque reiciendis id, voluptatem ducimus illum molestiae. Architecto doloremque, corporis vel earum. Officia ipsa consectetur maiores at odio error laboriosam voluptatum corporis? Numquam impedit consequatur qui porro dolorem quis nihil ut, dolore tempore tempora, illum omnis ipsam earum sapiente assumenda harum!
			.col-lg-4.blog__item
				.blog__img
					img(src="img/jo.jpg")
				div.blog-item__info 
					p 12.06.2008
				h3 How to treat yourself
				.blog__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero vitae ex quo unde harum pariatur illo, tempora, incidunt quasi illum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero cumque reiciendis id, voluptatem ducimus illum molestiae. Architecto doloremque, corporis vel earum. Officia ipsa consectetur maiores at odio error laboriosam voluptatum corporis? Numquam impedit consequatur qui porro dolorem quis nihil ut, dolore tempore tempora, illum omnis ipsam earum sapiente assumenda harum!
		.row.blog__button.justify-content-center
			button.btn-learn-more.slide__btn-learn-more.button Read More Posts
