footer.footer
	.wrapper-fluid
		.footer__row
			.footer__address
				i(class="fa fa-map fa-2x" aria-hidden="true")
				p Pulse Practice, West Street, Bourne, PE109NE
			.footer__hours
				.footer-hours__row
					i(class="fa fa-clock-o fa-2x" aria-hidden="true")
					table.footer-hours__content
						tr
							th Mon-Fri
							th 8AM - 8PM
						tr
							th Saturday
							th 8AM - 8PM
						tr
							th Sunday
							th Closed
			.footer__rights
				p &copy; 2017 Bourne Osteopath Clinic. All Rights Reserved.
		.footer__rights--MOB
				p &copy; 2017 Bourne Osteopath Clinic. All Rights Reserved.


