//- .container
//- 	.row.justify-content-between
//- 		.col-6.contacts__footer
//- 			p.title__footer Adress
//- 			a(href="#") Pulse Practice, West Street, Bourne 
//- 			br
//- 			a PE10 9NE 
//- 		.col-6.hours__footer
//- 			p.title__footer Opening hours
//- 			p Mon-Fri 

section.lala
	i(class="fa fa-clock-o fa-2x" aria-hidden="true")
	p.kldg Opening Hours
	.container
		.row
			.col-6
				
				span Mon-Fri
				br
				span Saturday
				br
				span Sunday
			.col-6
				span  8:00 am-8:00 pm 
				br
				span  8:00 am-1:00 pm 
				br
				span Closed
