header
	.header__top-row
		.top-row__content.row
			.top-row__social-icons
				a.icon-link.top-row__link(href="#")
					i(class="fa fa-facebook social-icons__icon" aria-hidden="true")
				a.icon-link.top-row__link(href="#")
					i(class="fa fa-twitter social-icons__icon" aria-hidden="true")
				a.icon-link.top-row__link(href="#")
					i(class="fa fa-google social-icons__icon" aria-hidden="true")
			.top-row__button
				button.btn-appointment.button Appointment
		.header__menu 
			.menu__content.row.justify-content-between
				img.svg--img.logo__header(src="img/logo.svg")
				//- .menu__button.btn-toggle.button
				//- 	#sandwich
				//- 		.sw-topper
				//- 		.sw-bottom
				//- 		.sw-footer
				button.kl.button
					i(class="fa fa-arrow-up")
				.toggle-menu
					div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error in soluta quidem, reiciendis, voluptate sunt, ad eius, sit sapiente repellat consectetur officiis harum assumenda porro.

