header.header
	.header__main-menu
		.mobile-nav__row
			.mobile-nav__content.row
				.mobile-nav__menu-button
					.hamburger-button(role="button")
						span.hamburger-item
						span.hamburger-item
						span.hamburger-item
				img.svg--img.mobile-nav__logo(src="img/logo.svg", alt="")
				.mobile-nav__contacts-button
					.contacts-button(role="button")
						span.contacts-item
						span.contacts-item
						span.contacts-item
			nav.mobile-nav__menu
				ul.mobile-menu__content
					button.button.mobile-menu__button.btn-appointment make an appointment 
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') about us
					li.mobile-menu__item
						a.link.mobile-menu__link(href='http://recurial.com/programming/understanding-callback-functions-in-javascript/') conditions treated
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') gallery
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') testimonials
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') videos
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') contacts
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') contacts
					li.mobile-menu__item
						a.link.mobile-menu__link(href='#') last
			div.mobile-nav__contacts
				.mobile-contacts__content
					.mobile-contacts__adress.row
						.col-2
							i(class="fa fa-home fa-2x" aria-hidden="true")
						.col-10
							a(href='#') Pulse Practice, West Street, Bourne, PE109NE
					.mobile-contacts__hours.row
						.col-2
							i(class="fa fa-clock-o fa-2x" aria-hidden="true")
						.col-10
							.row.no-gutters
								.col-6
									span Mon-Fri
									br
									span Saturday
									br
									span Sunday
								.col-6
									span 8AM - 8PM
									br
									span 8AM - 1PM
									br
									span Closed
					.mobile-contacts__phones.row
						.col-2
							i(class="fa fa-phone fa-2x" aria-hidden="true")
						.col-10
							.mobile-phones__item
								a(href='#') 01778 426000
							.mobile-phones__item
								a(href='#') 01778 426000
					
