header.header
	.header__main-menu
		.main-menu__row.row
			.main-menu__content
				.main-menu__nav
					.main-menu__nav--MOB
						.nav--MOB__toggle-button
							a.mobile-menu-toggle.js-toggle-menu.hamburger-menu(href='#')
								span.menu-item
								span.menu-item
								span.menu-item
		nav.nav--MOB__menu
			ul.menu--MOB__content
				li
					a.link.list-item(href='#') About us
				li
					a.link.list-item(href='#') conditions treated
				li
					a.link.list-item(href='#') gallery
				li
					a.link.list-item(href='#') testimonials
				li
					a.link.list-item(href='#') videos
				li
					a.link.list-item(href='#') contacts
				li
					a.link.list-item(href='#') contacts
				li
					a.link.list-item(href='#') last
				.main-menu__logo
				.main-menu__contacts