section.main-page
	.welcome-block__main-page.container-fluid
		.text__welcome-block__main-page
			h1.title__text__welcome-block__main-page Bourne Osteopath Clinic
			.motto__text__welcome-block__main-page Qualitive healthcare without the wait!
			.subtitle__text__welcome-block__main-page  Musculoskeletal disorders treatment without the use of drugs or surgery.
			h3.subtitle-TAB__text__welcome-block__main-page Diagnosis, management, treatment and prevention of musculoskeletal and other related disorders without the use of drugs or surgery.
			p.decription-PC__text__welcome-block__main-page In Bourne, all treatments are in a medical centre, providing the perfect safe, caring environment, giving necessary peace of mind to you, the patient.
			button#learn-more-button Learn More
	include about-us.jade
	include services.jade
	include news.jade
	include testimonials.jade
	include banner.jade
	include footer.jade