.mobile-menu
	.logo__mobile-menu
		include ../img/logo.svg
	.button__mobile-menu
		button#appointment-button-MOB Appointment request
	nav.navigation__mobile-menu
		ul
			li
				a.link__navigation__mobile-menu(href="") About us
			li
				a.link__navigation__mobile-menu(href="") Conditions treated
			li
				a.link__navigation__mobile-menu(href="") Gallery
			li
				a.link__navigation__mobile-menu(href="") Testimonials
			li
				a.link__navigation__mobile-menu(href="") Videos
			li
				a.link__navigation__mobile-menu(href="") Contacts
