.page__bg.page-services__bg(data-stellar-background-ratio="0.3")
.wrapper-fluid
	h2 Conditions treated
	.page-services__row.row.js-class
		.page-services__content.page__content.col-xl-8
			#accordion(role='tablist', aria-multiselectable='true')
				.card
					#headingOne.card-header(role='tab')
						h5.mb-0
							a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='fasle', aria-controls='collapseOne')
								| Migraine
					#collapseOne.collapse.show(role='tabpanel', aria-labelledby='headingOne')
						.card-block
							p Migraine is a complex condition with a wide variety of symptoms.  For many people the main feature is a painful headache.  Other symptoms include disturbed vision, sensitivity to light, sound and smells, feeling sick and vomiting.  Migraine attacks can be very frightening and may result in you having to lie still for several hours.
							p The symptoms will vary from person to person and individuals may have different symptoms during different attacks.  Your attacks may differ in length and frequency.  Migraine attacks usually last from 4 to 72 hours and most people are free from symptoms between attacks.  Migraine headaches can have an enormous impact on your work, family and social lives.  The most important symptoms to relieve are the tight neck and shoulder muscle spasms.   
				.card
					#headingTwo.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
								| Injury rehabilitation 
					#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo')
						.card-block
							| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				.card
					#headingThree.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
								| Pain relief 
					#collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
						.card-block
							| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				.card
					#headingThree.card-header(role='tab')
						h5.mb-0
							a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
								| Shoulder pain treatment
					#collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree')
						.card-block
							| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		div.lk.col-xl-4 
			div.page-services__banner
				p.one Whatever the cause, the pain is usually quite restricting.
				p.two Treatment should be sought ASAP
				i(class="fa fa-phone" aria-hidden="true")
				a.top-menu__link.link(href="tel:01778-426000") 01778 426000
				br
				i(class="fa fa-mobile " aria-hidden="true")
				a.top-menu__link.link(href="tel:01778-426000") 01778 426000
				br
				button.button.btn-appointment(data-toggle="modal" data-target="#exampleModal")  appointment 
