section.services__main-page
	.container
		h2 our services
	h4.bh Musculoskeletal disorders that may cause:
	.row.no-gutters.services-row__services__main-page
		.services-block__services__main-page
			.services-list__services__main-page
				ul
					li.services-item
						i(class="fa fa-check" aria-hidden="true" ) 
						span Migraine Headache Treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span injury rehabilitation
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span pain relief therapy
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span shoulder pain treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span sciatica treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span trapped nerves treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span arthritic pain treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span muscle pain treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span repetitive strain injury treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span joint pain treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Foot Pain
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span back treatment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Pins & Needles in Fingers & Legs
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Stiff Neck & Shoulders
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Muscle Spasms
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Pain Managment
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Painfull knee
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Pain on coughing or sneezing
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Painful Coccyx (Tail bone)
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Arthritic Pain
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span Pain when sitting or standing
					li.services-item
						i(class="fa fa-check" aria-hidden="true") 
						span sports injury clinics
					button.button.btn-learn-more.btn-learn-more--grey.services__btn-learn-more learn more
		.image__services__main-page.align-self-center