section.services
	.wrapper-fluid
		h2 our services
	.services__bg
		.wrap.services__img(data-stellar-background-ratio="0.6")
			.services__content
				.services__text
					ul
						li Migraine Headache Treatment
						li injury rehabilitation
						li pain relief therapy
						li shoulder pain treatment
						li sciatica treatment
						li trapped nerves treatment
						li arthritic pain treatment
						li muscle pain treatment
						li repetitive strain injury treatment
						li joint pain treatment
						li Foot Pain
						li back treatment
						li Pins & Needles in Fingers & Legs
						li Stiff Neck & Shoulders
						li Muscle Spasms
						li Pain Managment
						li Painfull knee
						li Pain on coughing or sneezing
						li Painful Coccyx (Tail bone)
						li Arthritic Pain
						li Pain when sitting or standing
						li sports injury clinics
						button.button.btn-learn-more.btn-learn-more--grey.services__btn-learn-more learn more