.welcome-slide
	.welcome-slide__gradient
	.welcome-slide__wrap.block__content
		.welcome-slide__content
			p.welcome-slide__name Welcome to Bourne Osteopath Clinic!
			p.welcome-slide__motto Qualitive healthcare without the wait!
			div.welcome-slide__text Diagnosis, management, treatment and prevention of musculoskeletal and other related disorders without the use of drugs or surgery.
			button.btn-learn-more.button.welcome-slide__button Learn More

//- .slide(data-stellar-background-ratio="0.3")
//- 	.slide__wrap
//- 		.slide__border-box.draw
//- 			.slide__content
//- 				h1.slide__title Bourne Osteopath Clinic
//- 				.slide__motto Qualitive healthcare without the wait!
//- 				h3 Diagnosis, management, treatment and prevention of musculoskeletal and other related disorders without the use of drugs or surgery.
//- 				p.slide__text In Bourne, all treatments are in a medical centre, providing the perfect safe, caring environment, giving necessary peace of mind to you, the patient.
//- 				button.btn-learn-more.slide__btn-learn-more.button Learn More
