section.testimonials
	.wrapper-fluid
		h2 patients say
	.testimonials__bg
	.testimonials__bg--PC(data-stellar-background-ratio="0.6")
	.testimonials__row.wrapper-fluid
		.testimonials__wrap
			.testimonials__arrow(id="arrow_left")
				i(class="fa fa-chevron-circle-left" aria-hidden="true")
			.testimonials__item#testimonials-block-js
				p.testimonials__text Jo made me feel at ease, treated with care, passion and professionalism, feel comfortable to continue to use the practice and know I can be seen without the wait.
				p.testimonials__patient Jonathan lklkj, patient
			.testimonials__item
				p.testimonials__text  Lorem ipsum dolor simus minus voluptates voluptate quasi nemo aut praesentium numquam ex illo, vel dolores, placeat in!
				p.testimonials__patient lklhl lklkj, patient
			.testimonials__item
				p.testimonials__text Jo made me feel at ease, treated with  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus sit dolore inventore esse, saepe vero neque necessitatibus dignissimos eveniet unde, nisi consectetur? Obcaecati, debitis molestias at accusamus rem, deleniti laborum, perspiciatis nam odit error deserunt consectetur reiciendis incidunt ipsa recusandae distinctio nostrum fuga repudiandae facilis placeat. Sequi dolorum dolorem molestias cumque, assumenda unde eaque hic quasi debitis laboriosam. Quod, totam. Laborum voluptatum vel nisi minima, aliquid nihil repudiandae id recusandae nobis rerum temporibus, ipsa nam repellendus consequatur ab porro suscipit.
				p.testimonials__patient lklhl lklkj, patient
			.testimonials__item
				p.testimonials__text Jo made me feel at ease, treated with
				p.testimonials__patient lklhl lklkj, patient
			.testimonials__item
				p.testimonials__text Jo made me feel at ease, treated with
				p.testimonials__patient lklhl lklkj, patient
			.testimonials__arrow(id="arrow_right")
				i(class="fa fa-chevron-circle-right" aria-hidden="true")
