section.testimonials
	.wrapper-fluid
		h2 patients say
	.testimonials__bg
	.testimonials__bg--PC(data-stellar-background-ratio="0.6")
	.testimonials__row.wrapper-fluid
		.testimonials__wrap
			.testimonials__arrow
				img(src="img/137623.svg")
			.testimonials__item
				p.testimonials__text Jo made me feel at ease, treated with care, passion and professionalism, feel comfortable to continue to use the practice and know I can be seen without the wait.
				p.testimonials__patient Jonathan lklkj, patient
			.testimonials__arrow
				img(src="img/137624.svg")