//- section.testimonials
//- 	.wrapper-fluid
//- 		h2 patients say
//- 		.testimonials__wrap
//- 			.testimonials__row
//- 				img.arrow.arrow-left(src='img/137514.svg')
//- 				p.testimonials__text Jo is very welcoming and makes you feel at ease,  I will continue to use Bourne Osteopath Clinic.
//- 				img.arrow.arrow-right(src='img/137513.svg')
//- 			.testimonials__name
//- 				p  John Majh
//- div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo tenetur assumenda quos facilis delectus, maiores, ipsam eum minima, laudantium perspiciatis laboriosam! Atque non cumque consequuntur.

//- section.testimonials
//- 	.wrapper-fluid
//- 		h2 patients say
//- 		.testimonials__wrap
//- 			.testimonials__content
//- 				img.testimonials__sign(src="img/1294.svg")
//- 				p.testimonials__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat hic pariatur reiciendis officiis sit cupiditate, ducimus non amet, velit eligendi eaque, cumque maiores consequuntur nihil et. Accusantium praesentium reiciendis, libero esse eum aliquam vel quas quidem quo! Voluptatum dicta maiores harum dignissimos neque autem, adipisci. Natus facilis, commodi aperiam suscipit!
//- 				p.testimonials__footer
//- 					img.arrow.arrow-left(src="img/137623.svg")
//- 					img.arrow.arrow-right(src="img/137624.svg")
//- div.test-wrap
//- 	.test  
//- 		p.gh Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis placeat odit quos ducimus a adipisci, officiis consequatur aspernatur eius eaque. Beatae earum sunt dignissimos architecto, assumenda totam, fugiat dolorum, ratione adipisci aliquam, rem magnam esse veritatis tempore pariatur quam ut!
//- 			br
//- 			p.yf  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, veritatis.
//- 		img.arrow.arrow-left(src="img/137623.svg")
//- 		img.arrow.arrow-right(src="img/137624.svg")

//- .blue
//- 	.roww
//- 		.green
//- 			.pink
//- 				div  Lorem ipsum dolor sit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi autem exercitationem voluptatem, adipisci corporis quia optio nemo vel, provident dicta odio est quod sequi nulla tenetur? Atque, aliquam quos.
//- 				div.orange Johanlkl
//- 			.yellow
//- 				img.left(src="img/137623.svg")
//- 				img.right(src="img/137624.svg")
.wrapper-fluid
	h2 patients say
.imh
.wrapper-fluid
	.flex
		.ilo
			img(src="img/137623.svg")
		.it2  
			p.rt Jo made me feel at ease, treated with care, passion and professionalism, feel comfortable to continue to use the practice and know I can be seen without the wait.
			p.ws Jonathan lklkj, patient
		.ilo.ilo2
			img(src="img/137624.svg")

	


