section.testimonialas
	.row.no-gutters
		.ko
			.text
				h2 patients say
				i(class="fa fa-quote-left  fa-pull-left" aria-hidden="true") 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit, voluptatum est pariatur ab iure laborum nisi. Similique pariatur, illum unde ipsum sunt fugiat repudiandae.
				i(class="fa fa-quote-right fa-pull-right" aria-hidden="true") 
				p.pt R Blake, patient
				