//- .welcome-window
//- 	.welcome-window__logo
//- 		.welcome-window__logo-blue
//- 			include ../img/logo500.svg
//- 			.welcome-window-text__pc
//- 				section Bourne Osteopath Clinic 
//- 				| Welcomes You!
//- 				.cont
//- 					.chevron
//- 					.chevron
//- 					.chevron
//- 					.chevron
//- 				.text-br scroll down

.welcome-page
	.welcome-block
		.welcome-block__logo
			include ../img/logo500.svg
