.welcome-block
            .welcome-block-background
                .l-welcome-block
                    div.welcome-block__text
                        h1.welcome-block__text--title Bourne Osteopath Clinic
                        h2.welcome-block__text--motto#to Qualitive healthcare 
                        h2.welcome-block__text--motto without the wait!
    
                .l-appointment-button
                    button.button--appointment Make an appointment