doctype html
html(lang="en")
  head
    title Bourne Clinic
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //build:css css/main.css
    //bower:css
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='bower_components/animate.css/animate.css')
    link(rel='stylesheet', href='bower_components/tooltipster/dist/css/tooltipster.bundle.css')
    link(rel='stylesheet', href='bower_components/components-font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')  
    //endbower
    link(href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato:300,400,700" rel="stylesheet")
    link(rel='stylesheet', href='css/styles.css')
    //endbuild
    header
    body
        include jade/header.jade
        include jade/main-page.jade
    //build:js js/vendor.js
    //bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/wow/dist/wow.js')
    script(src='bower_components/tooltipster/dist/js/tooltipster.bundle.js')
    script(src='bower_components/headjs/dist/1.0.0/head.min.js')
    script(src='bower_components/gsap/src/uncompressed/TweenMax.js')
    script(src='bower_components/jquery-drawsvg/public/jquery.drawsvg.js')
    script(src='bower_components/Modernizr/modernizr.custom.js')
    script(src='bower_components/tether/dist/js/tether.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    //endbower
    //endbuild
    //build:js js/main.js
    script(type="text/javascript" src="js/script.js")
    //endbuild